body {
    padding: 0;
    margin: 0;
    background-color: #b4b4b4;
}

table{
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid;
    min-width: 10vw;
}

td {
    text-align: center;
}

h4, h3{
    padding: 5px;
    margin: 2px 0px;
    /*border: 1px solid black;*/
}